.notebook {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background: rgb(90, 90, 90);
}

.notebook-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgb(60, 60, 60);
}

.notebook-body {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}