.task_list {
    background: rgb(60, 60, 60);
    margin: .5rem 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3rem;
    grid-template-areas: 
        'title title title date date date status status' 
        'bar bar bar bar bar bar percent expand' 
        'tasks tasks tasks tasks tasks tasks tasks tasks';
}

#title {
    grid-area: title;
    border: 0;
    margin: 6px;
    align-self: center;
    text-align: left;
}

#date {
    grid-area: date;
    margin: 6px;
    align-self: center;
    text-align: right;
}

#status {
    grid-area: status;
    margin: 6px;
    border: 1px solid white;
    border-radius: 5px;
    align-self: center;
    text-align: center;
}

#progress {
    grid-area: bar;
    margin: 6px;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

#progress-value {
    border-radius: 5px;
    background: linear-gradient(148deg, rgba(0,111,5,1) 0%, rgba(0,207,0,1) 100%);
}

#percent {
    grid-area: percent;
    margin: 6px;
    align-self: center;
    text-align: left;
}

#expand {
    grid-area: expand;
    margin: 6px;
    align-self: center;
    background-image: linear-gradient(148deg, rgba(82,82,82,1) 0%, rgba(42,42,42,1) 100%);
}

#tasks {
    grid-area: tasks;
    margin: 6px;
    align-self: center;
}