.task {
    margin: 6px;
    display: flex;
    border: 2px solid rgb(66, 66, 66);
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.title {
    grid-area: title;
    border: 0;
    margin: 6px;
    align-self: center;
    text-align: left;
}